*{
    padding:0;
    margin:0;
}
.cov-nav{
    background-color: #167577f6;
}
.cov-card{
    background-color: #EEFBF2;
    border: 2px solid #29A0B1;
    border-radius: 12px;
}
.underline-overall-blue::before {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	left: 20%;
	bottom: -10px;
	background: #167577f6;
}