<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/> 
    <link rel="stylesheet" href="styles/styles.css" />
    <title>COVINSTORE</title>
  </head>
  <body>
    <header>
        <nav class="navbar p-2 navbar-expand-lg navbar-light cov-nav">
            <div class="container-fluid mx-lg-5 p-2">
              <a class="navbar-brand text-white mx-lg-5 " href="index.ejs"><i data-feather="activity"></i>COVINSTORE</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-3 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
                  <li class="nav-item mx-5">
                    <a class="nav-link text-white active" aria-current="page" href="#">ABOUT COVINSTORE</a>
                  </li>
                  <li class="nav-item mx-5">
                    <a class="nav-link text-white" href="index.ejs">WHAT WE OFFER</a>
                  </li>
                  <li class="nav-item mx-5">
                    <a class="nav-link text-white" href="index1.ejs">
                      SEARCH PRODUCTS
                    </a>
                  </li>
                  <li class="nav-item mx-5">
                    <a class="nav-link text-white" href="index1.ejs">ADD PRODUCTS</a>
                  </li>
                </ul>
                
              </div>
            </div>
          </nav>
    </header>
    <main class="m-lg-5 m-md-1">
       <section class="pb-lg-4">
        <div class="container p-3">
            <div class="row">
                <div class="col-md-6">
                  <h3
                  class="
                    about-headlines
                    text-center
                    pb-4
                    
                    fs-2
                    
                  "
                >
                  <span class="position-relative underline-overall-blue"
                    >ABOUT COVINSTORE</span
                  >
                </h3>
                       <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quaerat laborum aut delectus aspernatur soluta sed inventore accusamus numquam similique, sequi cumque nihil voluptates nulla, officiis et iusto dicta quis.
                           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint consectetur temporibus, nihil unde mollitia aliquid dignissimos est, aliquam voluptatibus blanditiis in, nulla ipsa neque eligendi. Eaque at a esse ab?
                       </p>
                </div>
                <div class="col-md-6">
                      <img src="images/undraw_medicine_b1ol 1.png" class="d-block w-100" />
                </div>
            </div>
        </div>
       </section>
       <section class="pb-4">
        <h3
				class="
					about-headlines
					text-center
					pt-4
					pb-4
					fs-2
					
				"
			>
				<span class="position-relative underline-overall-blue"
					>WHAT WE OFFER</span
				>
			</h3>
           <div class="container p-lg-5 p-md-0">
              
              <div class="container cov-card p-3">
                  <div class="row">
                      <div class="col-md-4">
                          <img src="images/undraw_medical_care_movn 1.png" class="d-block w-100" alt="" >
                      </div>
                      <div class="col-md-8">
                          <h3 class="text-center pb-2">Our Offers</h3>
                          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eum, nobis modi ex quia blanditiis sapiente ullam assumenda quaerat ea et mollitia in voluptatibus eos ab quibusdam quam. Sequi, placeat!</p>
                      </div>
                  </div>
              </div>
              <div class="p-3">

              </div>
              <div class="container cov-card p-3">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="text-center pb-2">Our Offers</h3>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eum, nobis modi ex quia blanditiis sapiente ullam assumenda quaerat ea et mollitia in voluptatibus eos ab quibusdam quam. Sequi, placeat!</p>
                   
                    </div>
                    <div class="col-md-4">
                        <img src="images/undraw_doctor_kw5l 1.png" class="d-block w-100" alt="" >
                   </div>
                </div>
            </div>
           </div>
       </section>
     
    </main>
    <footer class="cov-nav p-3">
       <div class="container">
         <div class="row">
           <div class="col text-center">
             <h3 class="text-white"><i data-feather="activity"></i>COVINSTORE</h3>
             <div class="text-white">Connect with Us</div>
             <div class="text-white"><i data-feather="instagram"></i>&nbsp;&nbsp;<i data-feather="twitter"></i>&nbsp;<i data-feather="facebook"></i></div>
           </div>
         </div>
       </div>

    </footer>
  
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
   

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
    <script src="https://use.fontawesome.com/ce94556118.js"></script>
    <script>
      feather.replace()
     </script>
  </body>
</html>